<launch>
  <arg name="model" default="burger"/>
  <env name="TURTLEBOT3_MODEL" value="$(arg model)"/>

  <!-- Gazebo + TurtleBot3 -->
  <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_empty_world.launch"/>

  <!-- Static obstacles -->
  <node name="spawn_obstacle_1" pkg="gazebo_ros" type="spawn_model"
        args="-file $(find social_mpc_planner)/models/cylinder_obstacle/model.sdf -sdf -model obstacle_1 -x -2.0 -y -2.0 -z 0.5"/>

  <node name="spawn_obstacle_2" pkg="gazebo_ros" type="spawn_model"
        args="-file $(find social_mpc_planner)/models/cylinder_obstacle/model.sdf -sdf -model obstacle_2 -x -2.0 -y 0.0 -z 0.5"/>

  <node name="spawn_obstacle_3" pkg="gazebo_ros" type="spawn_model"
        args="-file $(find social_mpc_planner)/models/cylinder_obstacle/model.sdf -sdf -model obstacle_3 -x -2.0 -y 2.0 -z 0.5"/>

  <node name="spawn_obstacle_4" pkg="gazebo_ros" type="spawn_model"
        args="-file $(find social_mpc_planner)/models/cylinder_obstacle/model.sdf -sdf -model obstacle_4 -x 0.0 -y -2.0 -z 0.5"/>

  <node name="spawn_obstacle_5" pkg="gazebo_ros" type="spawn_model"
        args="-file $(find social_mpc_planner)/models/cylinder_obstacle/model.sdf -sdf -model obstacle_5 -x 0.0 -y 0.0 -z 0.5"/>

  <node name="spawn_obstacle_6" pkg="gazebo_ros" type="spawn_model"
        args="-file $(find social_mpc_planner)/models/cylinder_obstacle/model.sdf -sdf -model obstacle_6 -x 0.0 -y 2.0 -z 0.5"/>

  <node name="spawn_obstacle_7" pkg="gazebo_ros" type="spawn_model"
        args="-file $(find social_mpc_planner)/models/cylinder_obstacle/model.sdf -sdf -model obstacle_7 -x 2.0 -y -2.0 -z 0.5"/>

  <node name="spawn_obstacle_8" pkg="gazebo_ros" type="spawn_model"
        args="-file $(find social_mpc_planner)/models/cylinder_obstacle/model.sdf -sdf -model obstacle_8 -x 2.0 -y 0.0 -z 0.5"/>

  <node name="spawn_obstacle_9" pkg="gazebo_ros" type="spawn_model"
        args="-file $(find social_mpc_planner)/models/cylinder_obstacle/model.sdf -sdf -model obstacle_9 -x 2.0 -y 2.0 -z 0.5"/>

  <!-- Human model -->
  <node name="spawn_person_1" pkg="gazebo_ros" type="spawn_model"
        args="-file $(find social_mpc_planner)/models/simple_person/model.sdf -sdf -model person_1 -x -0.5 -y -2.0 -z 0.85"/>

  <!-- Static obstacle extractor + marker publisher -->
  <node name="gazebo_static_obstacle_node"
        pkg="social_mpc_planner"
        type="gazebo_static_obstacle_node.py"
        output="screen">
    <param name="obstacle_prefix" value="obstacle_"/>
    <param name="obstacle_radius" value="0.15"/>
  </node>

  <!-- Scripted human motion: A <-> B -->
  <node name="scripted_human_motion_node"
        pkg="social_mpc_planner"
        type="scripted_human_motion_node.py"
        output="screen">
    <param name="model_name" value="person_1"/>
    <param name="ax" value="-0.5"/>
    <param name="ay" value="-2.0"/>
    <param name="bx" value="-0.5"/>
    <param name="by" value="2.0"/>
    <param name="speed" value="0.15"/>
    <param name="z" value="0.85"/>
  </node>

  <!-- Human prediction -->
  <node name="gazebo_human_prediction_node"
        pkg="social_mpc_planner"
        type="gazebo_human_prediction_node.py"
        output="screen">
    <param name="person_prefix" value="person_"/>
    <param name="person_radius" value="0.25"/>
    <param name="prediction_dt" value="0.2"/>
    <param name="prediction_horizon" value="12"/>
  </node>

  <!-- MPC planner -->
  <node name="mpc_planner_node"
        pkg="social_mpc_planner"
        type="mpc_planner_node.py"
        output="screen"/>

</launch>